extends layout

block content
    h1. 
        Account List
    ul  
        each acct, i in acctlist
            li  
                p My username is #{acct.username}.
                p My password is #{acct.password}.
                p The account object is #{acct}.
